<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head th:replace="head :: headTag">
    <title>Movie Database</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.1/css/bootstrap.min.css" 
    		th:href="@{/webjars/bootstrap/2.2.1/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <style>
      body { padding-top: 80px; /* 80px to make the container go all the way
      to the bottom of the topbar */ }
    </style>  
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"
            th:src="@{/webjars/jquery/1.8.2/jquery.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.1/js/bootstrap.min.js" 
    		th:src="@{/webjars/bootstrap/2.2.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../META-INF/resources/js/custom.js" th:src="@{/js/custom.js}"></script>
    <script type="text/javascript">
    	
    	/*! Javascript Feature Flags
    Jay Fienberg, MIT License 2013
    https://github.com/jayf/javascript-feature-flags
*/

/*
    You can change this ff any variable name,
    but change it again, to match at the bottom
*/
var ff = ff || {};

(function(app, options) {
    "use strict";

    // defaults
    app.methods = options && options.methods ||
        [
            'query',
            'hash',
            'cookie',
            'domain'
        ];

    app.keyName = options && options.keyName ||'ff';
    app.testDomain = options && options.testDomain || 'localhost';
    app.testDomainFlag = options && options.testDomainFlag || 'debug';
    app.loc = window.location;

    app.flags = [];

    // returns true if flag is set, false otherwise
    // example: if ( ff.flag('Shuggie') ) { console.log('Otis!'); }
    app.flag = function( f ) {
        return false || app.flags.indexOf( f ) > -1;
    };

    // all methods for setting flags
    app.setFlags = {

        // flags stored in browser cookie named app.keyName
        // cookie can be single value, or CSV, like: Brubeck,Coltrane,Monk
        cookie: function() {
            var neq = app.keyName + '=',
                neql = neq.length,
                value = null,
                ca = document.cookie.split(';'),
                cal = ca.length,
                i;

            for( i=0; i < cal; i++ ) {

                var c = ca[i],
                    cl = c.length;

                while ( c.charAt(0) === ' ' ) {
                    c = c.substring( 1, cl );
                }

                if ( c.indexOf(neq) === 0 ) {
                    value = c.substring( neql, cl );
                }
            }

            if ( value ) {
                this._addFlag( value.split(',') );
            }
        },

        // flag for page on a test domain
        domain: function() {
            if ( app.loc.hostname === app.testDomain ) {
                this._addFlag(app.testDomainFlag);
            }
        },

        // flag in URL fragment that starts with app.keyName
        // fragment format is CSV after app.keyName: ff,Colins,Clinton,Hazel
        hash: function() {
            var h = app.loc.hash,
                ki = h.indexOf( app.keyName );

            if ( ki > -1 ) {
                var s = h.substring( ki + app.keyName.length + 1 );
                this._addFlag( s.split(',') );
            }
        },

        // flag in URL query string, app.keyName is parameter
        // both ?ff=Elvin&ff=Ringo and ?ff=Jones,Starr work
        query: function() {
            var s = app.loc.search,
                a = s.substring(1).split('&'),
                al = a.length,
                i;

            for ( i=0; i < al; i++ ) {
                var p = a[i].split('=');

                if ( p[0] === app.keyName && p[1] ) {
                    this._addFlag( p[1].split(',') );
                }
            }
        },

        // private, adds each new flag to app.flags array
        _addFlag: function(f) {
            if ( typeof(f) === 'string' ) {
                app.flags.push(f);
            } else {
                var i;
                for ( i in f ) {
                    app.flags.push( f[i] );
                }
            }
        }
    };

    // call each desired method in app.setFlags
    var m;
    for ( m in app.methods ) {
        app.setFlags[app.methods[m]]();
    }

})( ff );
/*
    If you change the ff variable name at top,
    change it in the line above.

    You also could attach this to an existing global,
    just pass the function YO.ff

    You can override any of the following:

    (ff, {
    keyName: 'ff',
    testDomain: 'localhost',
    testDomainFlag: 'debug',
    methods: ['cookie', 'domain', 'hash', 'query'])
}


*/
    </script>
  </head>
<body>
	<div class="container-fluid">
		<div th:fragment="navigation">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<div id="searchbar" class="row"
							style="padding-top: 20px; padding-left: 20px">
							<a id="home" class="brand" href="../movies.html"
								th:href="${navResource.getLink('movies').href}">
								
								<script>
    if ( ff.flag('cd2') ) {
       CD-2 Feature Flag
    }
    else {
    		Movie-Database
    }
</script>
							</a>
							<ul class="nav">
								<li th:class="${navResource.active == 'movies'}? 'active'"><a href="#" th:href="${navResource.getLink('movies').href}">Movies</a></li>
								<li th:class="${navResource.active == 'actors'}? 'active'"><a href="#" th:href="${navResource.getLink('actors').href}">Actors</a></li>
								<li th:class="${navResource.active == 'shop'}? 'active'"><a href="#" th:href="${navResource.getLink('shop').href}">Shop</a></li>
							</ul>
							<form class="form-search pull-left" action="#"
								th:action="@{${navResource.getLink('search').href}}" method="get">
								<div class="input-append">
									<input type="text" id="searchString" name="searchString" ng-model="ctrl.search"
										class="search-query input-xxlarge"
										th:value="${navResource.searchString}" />
									<button type="submit" class="btn btn-primary">Search</button>
								</div>
							</form>
                            <form th:action="${navResource.getLink('logout').href}" method="post">
                                <button class="btn btn-primary pull-right" type="submit">Log out</button>
                            </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
